.btn {
  width: 15%;
  padding: 25px;
  background-color: black;
  color: aqua;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-right: 5px;
}
.btn:hover {
  background-color: yellow;
  color: black;
  border: none;
}
